<!DOCTYPE html>
<html class="blue darken-1">
	<head>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<title>Ostoslista</title>
	</head>
	<body>
		<div class="flow-text" id="app">
			<h1 class="center white-text">Viikon ostokset</h1>

			<div class="center container row">
				<input class="input-field col s12 white-text" type="text" v-model="productName" placeholder="Lisää uusi tuote (max. 36 kirj.)" maxlength=36/>
				<button class="waves-effect waves-light btn-large blue darken-4" v-on:click="checkInput">Lisää<i class="material-icons">add</i></button>
				<p class="white card-panel tile" v-if="errors.length"><b style="color:#ff0000">Vain numerot, kirjaimet, pisteet ja pilkut ovat sallittuja.</b></p>
			</div>

			<div class="container center row">
			<shopping-list v-for="(product, index) in products" :product="product" :index="index"/>
			</div>
		</div>
		
		<script>
"use strict"

Vue.component('shopping-list', {
	props: ['product', 'index'],
	template: `<ul class="collection">
				<li class="collection-item center card-panel tile blue darken-2 white-text">
					{{ product }}
					<button class="waves-effect waves-light btn blue darken-4" v-on:click="removeItem(index)">Poista<i class="material-icons">delete</i></button>
				</li>
			</ul>`,
	methods: {
		removeItem(index) {
			app.removeItem(index)
		}
	}
})

var app = new Vue({
	el: '#app',
	
	data() {
		return {
			productName: '',

			products: [
				'leipää',
				'ketsuppia',
				'2kpl pikanuudeleita (maku: kana)',
				'9-pack mars-jäätelöpatukoita',
			],

			errors: [],
		};
	},

	mounted() {
		if (localStorage.getItem('products')) {
			try {
				this.products = JSON.parse(localStorage.getItem('products'));
			} catch(e) {
				localStorage.removeItem('products');
			}
		}
	},

	methods: {
		removeItem(index) {
			this.products.splice(index, 1);
			this.saveProducts();
		},
		
		addItem() {
			if (this.productName === '') {
				return;
			}

			this.products.push(this.productName);
      		this.productName = '';
			this.saveProducts();
		},

		saveProducts() {
			const parsed = JSON.stringify(this.products);
			localStorage.setItem('products', parsed);
		},

		checkInput: function (e) {
			this.errors = [];

			if (!this.validProductName(this.productName)) {
				this.errors.push('Valid product name required.');
			} else {
				this.addItem();
			}

			if (!this.errors.length) {
				return true;
			}

			e.preventDefault();
		},

		validProductName: function (productName) {
			var re = /^[a-zA-Z0-9äöåÄÖÅ.,\s]+$/;
			return re.test(productName);
		}
	},			
});

		</script>
	</body>
</html>